*{
	box-sizing: border-box;
}
body{
	background-color: #F3E5AB;
}
#header-nav{
	background-color: #3D3635;
	border : 0;
	border-radius: 0;
	
}
.navbar-brand h1{
	text-decoration: none;
	color: whitesmoke;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 10px;

}
div.backtotop a{
	text-decoration: none;

}
div.mainclass{
	box-sizing: border-box;
}
/*.navbar-brand{
  padding: 25px;
}*/
#menu-title{
	font-size: 3vw;

}
.navbar-brand a:hover{
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #F5F5F5;
  text-align: center;
  font-size: 11px;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: #3D3635;
}
#nav-list a span {
  font-size: 1.8em;
}
#title1,#title2,#title3{
	background-color: #F0FFF0;
	padding: 10px;
	/*margin: 5px;*/
	/*float: left;*/
	margin-bottom: 10px;
	border: 1px solid black;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 0.5px solid #F0FFF0;
  
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*Medium devices only*/
@media (min-width: 992px) and (max-width: 1199px) {
.navbar-brand {
    padding-top: 10px;
  }



}

/*Small devices only*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Extra small devices only*/
@media (max-width: 767px){

#menu-title{
	font-size: 5vw;

}

}